site_name: Virtual Science Forum
repo_url: https://github.com/virtualscienceforum/virtualscienceforum/
repo_name: source
remote_branch: pages
docs_dir: src
edit_uri: ""
site_description: |
  A platform for scientific conferences going fully digital
nav:
  - Home: index.md
  - Current and planned events:
    - Speakers' Corner: speakers-corner.md
    - Workshop on unconvential superconductivity: unconventional-superconductivity.md
    - Workshop on superconducting diode effects: josephson-diode.md
    - Call for organizers: announcement.md
  - Guides:
    - Organizer Guide: organizerguide.md
    - Speaker Guide: speakerguide.md
    - Moderator Guide: moderatorguide.md
    - Attendee Guide: attendeeguide.md
  - Contact us: contact.md
  - Contributors: whoweare.md
  - Privacy policy: privacy_policy.md
  - Past events:
    - Long Range Colloquium 2021: long_range_colloquium-2021.md
    - ARQH Workshop: arqh.md
    - "Workshop: Quantum Oscillations in insulators": quantum-oscillations-insulators.md
    - Long Range Colloquium 2020: long_range_colloquium-2020.md
    - Quantum transport workshop: quantum-transport-workshop.md
    - Observing Anyons 2020: Observing_Anyons_2020.md
    - Scanning probe microscopy workshop: SPM_workshop.md
    - Inaugural session: inauguralsession.md

extra_css:
    - 'styles/form.css'

theme:
  name: material
  logo: media/logo.png
  features:
    - navigation.instant
    - navigation.tabs
  palette:
    primary: 'light blue'
    accent: 'light blue'

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - toc:
      toc_depth: 0
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.magiclink
  - admonition
  - pymdownx.details
  - attr_list
  - abbr
  - meta

plugins:
  - search
  - macros:
      include_yaml:
        - talks: talks.yml
      module_name: macros
      include_dir: includes

extra_javascript:
  - scripts/mathjax_config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://unpkg.com/dayjs@1.8.21/dayjs.min.js
  - https://unpkg.com/dayjs@1.8.21/plugin/utc.js
  - scripts/render_time.js
  - scripts/recaptcha_render.js
  - https://www.google.com/recaptcha/api.js
  - scripts/cloudflare_communication.js
  - scripts/render_video_iframe.js
