Dear %recipient_name%,

Thank you for registering for today's Long Range Colloquium! It will begin in {{remaining_time}} (19:30 CEST / 1:30 PM ET).
You can join via the %recipient_registration_link%
If you cannot find the link anymore, please fill out the registration form again at https://virtualscienceforum.org/#/long_range_colloquium?id={{registration_form_id}}

Today's speaker is {{speaker_name}} ({{speaker_affiliation}}). See the title and the abstract of {{speaker_possessive_pronoun}} talk below.

Title: {{title}}

Abstract: {{abstract}}

See you soon,
The Virtual Science Forum team