form.registration body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
form.registration input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

form.registration input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

form.registration hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
form.registration button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

form.registration button:hover {
  opacity:1;
}

/* Float signup button and add an equal width */
form.registration .signupbtn {
  float: left;
  margin-top: 50px;
  width: 50%;
}

/* Add padding to container elements */
form.registration .container {
  padding: 16px;
}

/* Clear floats */
form.registration .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

form.registration .alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

form.registration .alert.success {background-color: #4CAF50;}
form.registration .alert.info {background-color: #2196F3;}
form.registration .alert.warning {background-color: #ff9800;}

form.registration .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

form.registration .closebtn:hover {
  color: black;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  form.registration .signupbtn {
     width: 100%;
  }
}

/* Correct logo width */
.md-header__button.md-logo img, .md-header__button.md-logo svg {
    width: unset;
}