{% macro render_time() %}
<script>
document.getElementById("timezone").innerText = Intl.DateTimeFormat().resolvedOptions().timeZone
for (let time of document.getElementsByTagName("time")) {
    time.innerText = dayjs(time.dateTime).local().format("MMMM d h:mm");
};
</script>
{% endmacro %}