{% import "base.md.j2" as base %}
{{ header }}


{% if upcoming %}
## Schedule

All times are shown in <span id="timezone">UTC</span> timezone.

|   Date   |     Speaker    | Title |
|:---------:|:--------------:|:-----:|
{%- for talk in upcoming | sort(attribute="time") %}
| <time datetime="{{ talk.time.isoformat() }}">{{ talk.time.strftime("%B %-d %-H:%M %Z") }}</time> | {{ talk.speaker_name }} | [{{ talk.title }}](#{{ talk.title | lower | format_title }}) |
{%- endfor %}

## Upcoming talks

{% for talk in upcoming | sort(attribute="time") %}
### {{ talk.title }}
#### {{ talk.speaker_name }} ({{ talk.speaker_affiliation }})

{% for line in talk.abstract.split("\n") -%}
> {{ line }}
{%- endfor %}
>
> **Authors:** {{ talk.authors }}
{% if talk.preprint %}> **Preprint:** [arXiv:{{ talk.preprint }}](https://arxiv.org/abs/{{ talk.preprint }}){% endif %}

{% if talk.registration_url %}
If the form below doesn't work, [register directly]({{ talk.registration_url }})

<iframe width="100%" height="940" src="{{ talk.registration_url }}" frameborder="0" marginheight="0" marginwidth="0" style="overflow-x:hidden"></iframe>
{% endif %}
{% endfor %}
{% else %}
## Upcoming talks

There are no upcoming talks at the moment, apply [here](https://github.com/virtualscienceforum/virtualscienceforum/issues/new?template=speakers_corner_application.md&labels=speakers_corner&title=Speakers%27%20corner%20talk%20application) to present one.

{% endif %}

## Recordings

|     Speaker    | Title |
|:--------------:|:-----:|
{%- for talk in previous | sort(attribute="time", reverse=True) %}
| {{ talk.speaker_name }} | [{{ talk.title }}](#{{ talk.title.replace(" ", "-") | lower }}) |
{%- endfor %}

{% for talk in previous | sort(attribute="time", reverse=True) %}

### {{ talk.title }}
#### {{ talk.speaker_name }}, {{ talk.speaker_affiliation }}

<details><summary>abstract</summary>

{{talk.abstract}}

Authors: {{ talk.authors }}
Preprint: [arXiv:{{ talk.arxiv }}](https://arxiv.org/abs/{{ talk.arxiv }})
</details>

{% if talk.youtube_id %}
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ talk.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% else %}
*Video in preparation*
{% endif %}

{% endfor %}

{{ base.render_time() }}
